{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Express Finance{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'dist/css/styles.css' %}">
	{% block extrastyles %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header class="s-header">
		<div class="wrapper">
			<a href="{% url 'main' %}" class="b-logo">
				<svg><use href="#svg-logo">
				</svg>
			</a>
			
			<div class="s-header__phone">
				<span>Телефон горячей линии</span>
				<a href="tel:+{{ phones.first.number|cut:' ' }}">{{ phones.first.number }}</a>
			</div>

			<div class="b-nav">
				<a href="{% url 'about' %}" class="b-nav__link">О нас</a>
				<a href="#" class="b-nav__link">Кредиты</a>
				<a href="spoiler-page.html" class="b-nav__link">Акции</a>
				<a href="faq.html" class="b-nav__link">Справка</a>
				<a href="blog.html" class="b-nav__link">Блог</a>
				<a href="#" class="b-nav__link">Студентам</a>
			</div>

			<div class="s-header__lang">
				<button class="b-btn b-btn--lang">Рус</button>
				<button class="b-btn b-btn--lang">Укр</button>
			</div>

			<button class="b-btn-login">Мой кабинет <span class="icon icon--login"></span></button>

		</div>
	</header>
{% block content %}{% endblock %}

	<footer class="s-footer">
		<div class="wrapper wrapper--flex">
			<div class="s-footer-contacts">
			{% for obj in phones %}
				{% if forloop.first %}
					<a class="b-tel b-tel--primary" href="tel:{{ obj.number|cut:' ' }}">{{ obj.number }} <span>Бесплатные звонки по Украине</span></a>
				{% else %}
					<a class="b-tel b-tel--secondary" href="tel:{{ obj.number|cut:' ' }}"><!--<span class="icon icon--kyivstar"></span>-->{{ obj.number }}</a>
				{% endif %}
			{% endfor %}
			</div>

			<div class="s-footer-about">
				<nav class="s-footer-nav">
				{% for obj in menu_footer %}
					{% if forloop.first %}
						<h4 class="s-footer-nav__title">{{ obj.name }}</h4>
						{% for item in obj.items.get_queryset %}
							<a href="{{ item.link }}" class="s-footer-nav__link">{{ item.name }}</a>
						{% endfor %}
					{% endif %}
				{% endfor %}
				</nav>
			</div>

			<div class="s-footer-faq">
			{% for obj in menu_footer %}
				{% if not forloop.first %}
				<nav class="s-footer-nav">
					<h4 class="s-footer-nav__title">{{ obj.name }}</h4>
					{% for item in obj.items.get_queryset %}
						<a href="{{ item.link }}" class="s-footer-nav__link">{{ item.name }}</a>
					{% endfor %}
				</nav>
				{% endif %}
			{% endfor %}
			</div>

			<div class="s-footer-referal-wrap">
				<div class="s-footer-referal">
					<h4 class="s-footer-referal__title">Заработай с партнеской программой "Приведи друга"</h4>
					<p class="s-footer-referal__text">
						Приводи друзей и получай <strong>до 200 грн</strong>
						за каждого нового пользователя! 
					</p>

					<button class="b-btn-primary b-btn-primary--main">Пригласить друга</button>

				</div>
			</div>
			
			<div class="s-footer-base">
				<a href="{% url 'main' %}" class="b-logo">
					<svg><use href="#svg-logo">
					</svg>
				</a>

				<p class="s-footer-base__info">
					Первый в Украине сервис кредитования через интернет. <br>
					Мы предоставляем быстрые и удобные кредиты для всех граждан Украины. <br>
					&copy 2015 - 2017 MyCredit - Кредит онлайн на банковскую карту за 20 минут
				</p>

				<div class="s-footer-base__social">
				{% for obj in social_nets %}
					{% if forloop.first %}
						<a href="{{ obj.link }}"><span class="icon icon--facebook"></span></a>	
					{% else %}
						<a href="{{ obj.link }}"><span class="icon icon--telegram"></span></a>
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>

	</footer>
{% block extra %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script
	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous"></script>
	<script src="{% static 'dist/libs/slick.js' %}"></script>
	<script src="{% static 'dist/libs/common.js' %}"></script>
{% block extrascrypts %}{% endblock %}
