{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans 'Установка нового пароля' %}{% endblock %}

{% block content %}
	<div class="wrapper wrapper-mob"> 
		<form action="." method="post" class="f-form">
			<h2 class="f-form__title">{% trans 'Установка нового пароля' %}</h2>
			{% csrf_token %}
			<div class="f-form__content">
				<p class="f-form__content-message f-form__content-message--big">{% trans 'Введите новый пароль дважды' %}</p>
				{% if status_message %}{{ status_message }}{% endif %}
				{{ form.password1.errors }}
				{{ form.password2.errors }}
				<div class="b-input b-input--main">
					{{ form.password1 }}
					<span class="icon icon--padlock"></span>
					{{ form.password2 }}
					<span class="icon icon--padlock"></span>
				</div>

				<button class="b-btn-primary b-btn-primary--formed" type="submit">{% trans 'Установить пароль' %}</button>
			</div>

			<div class="f-form__footer"></div>

		</form>
	</div>
{% endblock %}