{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Анкета" %}{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'dist/css/datepicker.min.css' %}">
{% endblock %}

{% block content %}
		<section class="s-question">
			<div class="wrapper">
				<nav class="b-top-nav">
					<a class="b-top-nav__item active">{% trans 'Главная' %}</a>
					<a href="#!" class="b-top-nav__item">{% trans 'Заявка на кредит' %}</a>
				</nav>


				<h2 class="s-title s-title--mid">{% trans 'Заявка на видачу кредиту' %}</h2>
				
				{# <form action="{% url 'questionnaire-step1' %}" class="questionnaire" id="questionnaire-form" method="POST"> #}
				<form action="{% url 'save-questionnaire' %}" class="questionnaire" id="questionnaire-form" method="POST">
					{% csrf_token %}
					<!-- step 1 -->
					<fieldset class="questionnaire__step">
						<h3 class="questionnaire__step-title">{% trans 'Особисті дані клієнта' %}</h3>
						<div class="questionnaire-progress">
							<span class="questionnaire-progress__line step-1"></span>
						</div>

						<!-- Персональні дані -->
						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Персональні дані' %}</h4>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_last_name">{{ form.last_name.label }}</label>
								{{ form.last_name }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_first_name">{{ form.first_name.label }}</label>
								{{ form.first_name }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_middle_name">{{ form.middle_name.label }}</label>
								{{ form.middle_name }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_birthday_date">{{ form.birthday_date.label }}</label>
								{{ form.birthday_date }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_sex">{{ form.sex.label }}</label>
								{{ form.sex }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_education">{{ form.education.label }}</label>
								{{ form.education }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_marital_status">{{ form.marital_status.label }}</label>
								{{ form.marital_status }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<div class="questionnaire__multiple">
								<label class="questionnaire__label multiple-check-label" for="criminal-off">{{ form.has_criminal_record.label }}</label>
									<div class="b-checkbox">
										<input value="on" name="has_criminal_record" id="criminal-on" type="radio"><label for="criminal-on">{% trans 'Є' %}</label>
									</div>
									<div class="b-checkbox">
										<input value="off" name="has_criminal_record" id="criminal-off" type="radio" checked>
										<label for="criminal-off">{% trans 'Немає' %}</label>
									</div>
								</div>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_mobile_phone">{{ form.mobile_phone.label }}</label>
								{{ form.mobile_phone }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_email">{{ form.email.label }}</label>
								{{ form.email }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>
						</fieldset>

						<!-- Документи -->
						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Документи' %}</h4>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_itn">{{ form.itn.label }}</label>
								{{ form.itn }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_passport_code">{{ form.passport_code.label }}</label>
								{{ form.passport_code }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_passport_date">{{ form.passport_date.label }}</label>
								{{ form.passport_date }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_passport_outdate">{{ form.passport_outdate.label }}</label>
								{{ form.passport_outdate }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_passport_authority">{{ form.passport_authority.label }}</label>
								{{ form.passport_authority }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>
						</fieldset>

						<!-- Адреса реєстрації -->
						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Адреса реєстрації' %}</h4>
							<div class="questionnaire__item">
								<label class="questionnaire__label">{% trans 'Країна' %}</label>
								<div class="questionnaire__multiple">
									<div class="b-checkbox">
										<input value="off" name="switchRegistration" id="country" type="radio">
										<label for="country">{% trans 'Україна' %}</label>
									</div>
									<div class="b-checkbox">
										<input value="on" name="switchRegistration" id="another-country" type="radio" checked>
											<label for="another-country">{% trans 'інша країна' %}</label>
									</div>
									{{ form.registration_county_switch }}
								</div>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_state">{{ form.registration_state.label }}</label>
								{{ form.registration_state }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_district">{{ form.registration_district.label }}</label>
								{{ form.registration_district }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_city">{{ form.registration_city.label }}</label>
								{{ form.registration_city }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_street">{{ form.registration_street.label }}</label>
								{{ form.registration_street }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_building">{{ form.registration_building.label }}</label>
								{{ form.registration_building }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_flat">{{ form.registration_flat.label }}</label>
								{{ form.registration_flat }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_registration_index">{{ form.registration_index.label }}</label>
								{{ form.registration_index }}
							</div>

							<div class="b-checkbox">
								<input data-disable="field-adress" id="the-same" type="checkbox" name="the-same">
								<label for="the-same">{% trans 'Адреса місця проживання(перебування) співпадає з місцем реєстрації' %}</label>
							</div>
						</fieldset>

						<!-- Адреса місця проживання -->
						<fieldset data-field="field-adress" class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Адреса місця проживання (перебування у т.ч. тимчасового)' %}</h4>
							<div class="questionnaire__item">
								<label class="questionnaire__label">{% trans 'Країна' %}</label>
								<div class="questionnaire__multiple">
									<div class="b-checkbox">
										<input value="off" name="switchResidence" id="country-1" type="radio"><label for="country-1">{% trans 'Україна' %}</label>
									</div>
									<div class="b-checkbox">
										<input value="on" name="switchResidence" id="another-country-1" type="radio" checked>
										<label for="another-country-1">{% trans 'інша країна' %}</label>
									</div>
									{{ form.residence_county_switch }}
								</div>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_state">{{ form.residence_state.label }}</label>
								{{ form.residence_state }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_district">{{ form.residence_district.label }}</label>
								{{ form.residence_district }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_city">{{ form.residence_city.label }}</label>
								{{ form.residence_city }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_street">{{ form.residence_street.label }}</label>
								{{ form.residence_street }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_building">{{ form.residence_building.label }}</label>
								{{ form.residence_building }}
							</div>

							<div>
								<label class="questionnaire__label" for="id_residence_flat">{{ form.residence_flat.label }}</label>
								{{ form.residence_flat }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_residence_index">{{ form.residence_index.label }}</label>
								{{ form.residence_index }}
							</div>
						</fieldset>

						<!--<div class="b-checkbox agree-checkbox">
							<input id="personal-agree" type="checkbox" name="personal-agree" required>
							<label for="personal-agree" >Я погоджуюсь з правилами про персональну обробку моїх даних</label>
						</div>-->
						<input type="hidden" value="1" name="step">
						<button class="b-btn-primary b-btn-primary--main next-btn">{% trans 'Продовжити' %}</button>
					</fieldset>
					<!-- end step 1 -->
					<!-- step 2 -->
					<fieldset class="questionnaire__step">
						<h3 class="questionnaire__step-title">{% trans 'Зайнятість' %}</h3>
						<div class="questionnaire-progress">
							<span class="questionnaire-progress__line step-2"></span>
						</div>

						<fieldset class="questionnaire__field">
							<label class="questionnaire__label" for="id_employment_type">{{ form.employment_type.label }}</label>
							{{ form.employment_type }}
						</fieldset>

						<fieldset class="questionnaire__field type-block" id="individual">
							<h4 class="questionnaire__caption">{% trans 'Для осіб, які не займаються незалежною професійною діяльністю' %}</h4>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_company_name">{{ form.company_name.label }}</label>
								{{ form.company_name }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_edrpou_code">{{ form.edrpou_code.label }}</label>
								{{ form.edrpou_code }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_position">{{ form.position.label }}</label>
								{{ form.position }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_position_type">{{ form.position_type.label }}</label>
								{{ form.position_type }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_service_type">{{ form.service_type.label }}</label>
								{{ form.service_type }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_company_experience">{{ form.company_experience.label }}</label>
								{{ form.company_experience }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_overall_experience">{{ form.overall_experience.label }}</label>
								{{ form.overall_experience }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_company_address">{{ form.company_address.label }}</label>
								{{ form.company_address }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_company_phone">{{ form.company_phone.label }}</label>
								{{ form.company_phone }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_labor_relations">{{ form.labor_relations.label }}</label>
								{{ form.labor_relations }}
							</div>

						</fieldset>

						<fieldset class="questionnaire__field type-block" id="entrepreneur">
							<h4 class="questionnaire__caption">{% trans 'Для осіб, які займаються незалежною професійною діяльністю або є особами-підприємцями (ФОП)' %}</h4>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_state_registration_date">{{ form.state_registration_date.label }}</label>
								{{ form.state_registration_date }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_state_registration_authority">{{ form.state_registration_authority.label }}</label>
								{{ form.state_registration_authority }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_activity_type">{{ form.activity_type.label }}</label>
								{{ form.activity_type }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_confirmed_document">{{ form.confirmed_document.label }}</label>
								{{ form.confirmed_document }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_employ_count">{{ form.employ_count.label }}</label>
								{{ form.employ_count }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<!--<div class="b-checkbox">
								<input id="personal-agree-2" type="checkbox">
								<label for="personal-agree-2" >Я погоджуюсь з правилами про персональну обробку моїх даних</label>
							</div>-->
						</fieldset>
						<input type="hidden" value="2" name="step">
						<button class="b-btn-primary b-btn-primary--main next-btn">{% trans 'Продовжити' %}</button>
						<button class="b-btn-primary b-btn-primary--main prev-btn">{% trans 'Назад' %}</button>
					</fieldset>
					<!-- end step 2 -->
					<!-- step 3 -->
					<fieldset class="questionnaire__step">
						<h3 class="questionnaire__step-title">{% trans 'Дані довіреної особи' %}</h3>
						<div class="questionnaire-progress">
							<span class="questionnaire-progress__line step-3"></span>
						</div>

						<fieldset class="questionnaire__field">
							<div class="questionnaire__item">
								<label for="quest-credit" class="questionnaire__label" for="id_bound_person_names">{{ form.bound_person_names.label }}</label>
								{{ form.bound_person_names }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="quest-prod" class="questionnaire__label" for="id_bound_person_itn">{{ form.bound_person_itn.label }}</label>
								{{ form.bound_person_itn }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="quest-prod" class="questionnaire__label" for="id_bound_person_relationship">{{ form.bound_person_relationship.label }}</label>
								{{ form.bound_person_relationship }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="quest-prod" class="questionnaire__label" for="id_bound_person_job">{{ form.bound_person_job.label }}</label>
								{{ form.bound_person_job }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="quest-prod" class="questionnaire__label" for="id_bound_person_phone">{{ form.bound_person_phone.label }}</label>
								{{ form.bound_person_phone }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="quest-prod" class="questionnaire__label" for="id_bound_person_address">{{ form.bound_person_address.label }}</label>
								{{ form.bound_person_address }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<!--<div class="b-checkbox">
								<input id="personal-agree-3" type="checkbox">
								<label for="personal-agree-3" >Я погоджуюсь з правилами про персональну обробку моїх даних</label>
							</div>-->
						</fieldset>
						<input type="hidden" value="3" name="step">
						<button class="b-btn-primary b-btn-primary--main next-btn">{% trans 'Продовжити' %}</button>
						<button class="b-btn-primary b-btn-primary--main prev-btn">{% trans 'Назад' %}</button>
					</fieldset>
					<!-- end step 3 -->
					<!-- step 4 -->
					<fieldset class="questionnaire__step">
						<h3 class="questionnaire__step-title">{% trans 'Доходи, витрати та майно' %}</h3>
						<div class="questionnaire-progress">
							<span class="questionnaire-progress__line step-4"></span>
						</div>

						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Доходи' %}</h4>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_salary">{{ form.salary.label }}</label>
								{{ form.salary }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_partner_salary">{{ form.partner_salary.label }}</label>
								{{ form.partner_salary }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_bonuses">{{ form.bonuses.label }}</label>
								{{ form.bonuses }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_social_benefits">{{ form.social_benefits.label }}</label>
								{{ form.social_benefits }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_pension">{{ form.pension.label }}</label>
								{{ form.pension }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_partner_pension">{{ form.partner_pension.label }}</label>
								{{ form.partner_pension }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_other_income">{{ form.other_income.label }}</label>
								{{ form.other_income }}
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" for="id_overall_income">{{ form.overall_income.label }}</label>
								{{ form.overall_income }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

						</fieldset>

						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Витрати' %}</h4>

							<div class="questionnaire__item">
								<label for="id_month_outgoing" class="questionnaire__label">{{ form.month_outgoing.label }}</label>
								{{ form.month_outgoing }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label for="id_month_loan_payments_outgoing" class="questionnaire__label">{{ form.month_loan_payments_outgoing.label }}</label>
								{{ form.month_loan_payments_outgoing }}
							</div>

							<div class="questionnaire__item">
								<label for="id_other_outgoing" class="questionnaire__label">{{ form.other_outgoing.label }}</label>
								{{ form.other_outgoing }}
							</div>
						</fieldset>

						<fieldset class="questionnaire__field">
							<h4 class="questionnaire__caption">{% trans 'Майно' %}</h4>

							<div class="questionnaire__item">
								<label for="id_dwelling_type" class="questionnaire__label">{{ form.dwelling_type.label }}</label>
								{{ form.dwelling_type }}
							</div>

							<div class="questionnaire__item">
								<label for="id_vehicle_count" class="questionnaire__label">{{ form.vehicle_count.label }}</label>
								{{ form.vehicle_count }}
							</div>

							<div class="questionnaire__item">
								<label for="id_vehicle_description" class="questionnaire__label">{{ form.vehicle_description.label }}</label>
								{{ form.vehicle_description }}
							</div>

							<!--<div class="b-checkbox">
								<input id="personal-agree-4" type="checkbox">
								<label for="personal-agree-4" >Я погоджуюсь з правилами про персональну обробку моїх даних</label>
							</div>-->
						</fieldset>
						<input type="hidden" value="4" name="step">
						<button class="b-btn-primary b-btn-primary--main next-btn">{% trans 'Продовжити' %}</button>
						<button class="b-btn-primary b-btn-primary--main prev-btn">{% trans 'Назад' %}</button>
					</fieldset>
					<!-- end step 4 -->
					<!-- step 5 -->
					<fieldset class="questionnaire__step">
						<h3 class="questionnaire__step-title">{% trans 'Інформація про кредит' %}</h3>
						<div class="questionnaire-progress">
							<span class="questionnaire-progress__line step-5"></span>
						</div>

						<fieldset class="questionnaire__field">
							<div class="questionnaire__item">
								<label class="questionnaire__label" id="id_credit_sum">{{ form.credit_sum.label }}</label>
								{{ form.credit_sum }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__item">
								<label class="questionnaire__label" id="id_credit_term">{{ form.credit_term.label }}</label>
								{{ form.credit_term }}
								<span class="questionnaire__item-notification">*{% trans "обов'язкове поле" %}</span>
							</div>

							<div class="questionnaire__multiple">
								<label class="questionnaire__label multiple-check-label" for="">{{ form.credit_period.label }}</label>
								<div class="b-checkbox">
									<input value="month" name="credit_period" id="period-month" type="radio"><label for="period-month">{% trans 'Місяць' %}</label>
								</div>
								<div class="b-checkbox">
									<input value="week" name="credit_period" id="period-week" type="radio" checked>
									<label for="period-week">{% trans 'Тиждень' %}</label>
								</div>
							</div>
						</fieldset>
						<input type="hidden" value="5" name="step">
						<button class="b-btn-primary b-btn-primary--main next-btn">{% trans 'Зберегти' %}</button>
						<button class="b-btn-primary b-btn-primary--main prev-btn">{% trans 'Назад' %}</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
</div>
{% endblock %}

{% block info %}{% endblock %}

{% block footer %}{% endblock %}

{% block extrascrypts %}
	<script src="{% static 'dist/libs/datepicker.min.js' %}"></script>
	<script>
		var today = new Date();
		$('#id_birthday_date').datepicker({
			maxDate: new Date(today.getFullYear()-18, today.getMonth(), today.getDate()),
			minDate: new Date(1900,0,1),
			dateFormat: 'yyyy-mm-dd'
		});
		$('#id_passport_date').datepicker({
			maxDate: today,
			minDate: new Date(1900,0,1),
			dateFormat: 'yyyy-mm-dd'
		});
		$('#id_passport_outdate').datepicker({
			dateFormat: 'yyyy-mm-dd'
		});
		$('#id_state_registration_date').datepicker({
			dateFormat: 'yyyy-mm-dd'
		});
	</script>
{% endblock extrascrypts %}