{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}{% trans 'Сброс пароля' %}{% endblock %}

{% block content %}
    <div class="wrapper wrapper-mob"> 
        <form action="." method="post" class="f-form">
            <h2 class="f-form__title">{% trans 'Сброс пароля' %}</h2>
            {% csrf_token %}
            <div class="f-form__content f-form__content--secondary">
                <p class="f-form__content-message f-form__content-message--big">{% trans 'Введите номер вашего последнего договора' %}</p>
                {% if status_message %}{{ status_message }}{% endif %}
                {{ form.contract_num.errors }}
                {{ form.contract_num }}

                <button class="b-btn-primary b-btn-primary--formed disable" type="submit">{% trans 'Сбросить пароль' %}</button>
            </div>

            <div class="f-form__footer"></div>

        </form>
    </div>
{% endblock %}